.textColor{
    color: #26A69A;
}

.textFont {
    font-family: 'Sirin Stencil';
}

.main-title {
    font-size: 60px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img:hover {
    transform: scale(1.2);
    transition: all .5s;
}

.bgColor {
    background-color: #26A69A;
}

a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-obj:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
}