<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link th:href='@{https://fonts.googleapis.com/css?family=Sirin Stencil}' rel='stylesheet'>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css}" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Watches Roma Tre</title>
    </head>
    <body>
        <!-- NAVBAR SECTION -->
        <header th:replace="fragments/base.html :: navbar"></header>

        <!-- TITLE SECTION -->
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/images/accessori5.jpg}" class="d-block" height="350" width="1920" alt="home image" style="object-fit: cover;">
                </div>
            </div>
        </div>

        <!-- FORM SECTION -->
        <div class="p-5 m-5">
            <div class="mb-5">
                <span class="textFont section-title text-white text-center bgColorCi rounded-pill shadow py-2 px-3">- Modifica cinturino -</span>
            </div>
            <hr class="bgColorCi">
            <div class="m-4">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card shadow text-white mt-2 mx-auto p-4" style="background-color: #2633a6;">
                            <div class="card-body">
                                <div class = "container">
                                    <form id="contact-form" role="form" th:action="@{'/admin/cinturinoUpdate' + '/' + ${cinturino.id}}" method="POST" th:object="${cinturino}">
                                        <div th:if="${#fields.hasGlobalErrors()}">
                                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Errore Globale</p>
                                        </div>
                                        <div class="controls">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="form_name">Colore</label>
                                                        <input id="form_name" type="text" name="name" class="form-control" placeholder="Inserisci il colore del cinturino" required="required" th:field="*{colore}">
                                                        <span th:if="${#fields.hasErrors('colore')}" th:errors="*{colore}"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="form_name">Prezzo</label>
                                                        <input id="form_name" type="number"  min="0" oninput="validity.valid||(value='');" name="name" class="form-control" placeholder="Inserisci il prezzo del cinturino" required="required" th:field="*{prezzo}" >
                                                        <span th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="message">Misura</label>
                                                        <input id="form_name" type="number"  min="0" oninput="validity.valid||(value='');" name="name" class="form-control" placeholder="Inserisci la misura del cinturino" required="required" th:field="*{misura}">
                                                        <span th:if="${#fields.hasErrors('misura')}" th:errors="*{misura}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <div class="form-group">
                                                    <label for="form_name">Seleziona Store</label>
                                                    <div th:if="${!puntiVenditaDisponibili.empty}">
                                                        <select name="puntoVenditaScelto" class="form-control" aria-label="Default select example">
                                                            <option th:each="puntoVendita : ${puntiVenditaDisponibili}" th:value="${puntoVendita.id}"><span
                                                                    th:text="${puntoVendita.nome}">Nome store</span></option>
                                                        </select>
                                                    </div>
                                                    <div th:unless="${!puntiVenditaDisponibili.empty}">
                                                        <div class="notification p-3 is-danger">Nessuno store disponibile! <a th:href="@{/admin/puntoVenditaForm}" class="text-white">Aggiungilo qui</a></div>
                                                    </div>
                                                </div>

                                            </div> 

                                            <div class="row mt-4">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-dark btn-send pt-2 btn-block text-white"><img th:src="@{/images/confermaIcon.png}" alt="Conferma"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>          
        </div>

        <!-- FOOTER SECTION -->
        <footer th:replace="fragments/base.html :: footer"></footer>

    </body>
</html>