<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link th:href='@{https://fonts.googleapis.com/css?family=Sirin Stencil}' rel='stylesheet'>
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css}" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <title>Watches Roma Tre</title>
    </head>
    <body>
        <!-- NAVBAR SECTION -->
        <header th:replace="fragments/base.html :: navbar"></header>

        <!-- TITLE SECTION -->
        <div class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img th:src="@{/images/sfondoIndex6.jpg}" class="d-block" height="550" width="1920" alt="home image" style="object-fit: cover;">
                    <div class="carousel-caption text-left">
                        <h1 class="textColor textFont main-title" style="text-shadow: 3px 3px #fff;">Watches Roma Tre</h1>
                    </div>
                </div>
            </div>
        </div>
        <div sec:authorize="hasAnyAuthority('ADMIN')" class="mx-5 mt-5 p-2">
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Congratulazioni!</h3>
                <hr>
                <p style="font-size: 20px;">Hai effettuato l'accesso con i permessi di amministratore!</p>
            </div>
        </div>
        

        <!-- WATCH SECTION -->
        <div class="p-5 m-5">
            <div class="mb-5">
                <span class="textFont section-title text-white text-center bgColor rounded-pill shadow py-2 px-3">- I nostri prodotti -</span>
            </div>
            <div class="d-flex justify-content-between align-items-center rounded p-5 my-5" style="border: 2px solid #26A69A;">
                <div class="card card-obj" style="width: 17rem;height: 18rem;">
                    <img th:src="@{/images/orologi1.jpg}" alt="Orologio" class="card-img">
                    <div class="card-img-overlay d-flex justify-content-end align align-items-end">
                        <a class="text-white" th:href="@{https://www.tissotwatches.com/it-it/?gclid=CjwKCAjwzeqVBhAoEiwAOrEmzX36t28-nwQVHhvLF8nsLmrMj8YRNu7y6CRu6F8LMAnUIPNiLu9dexoCUFEQAvD_BwE}"><img class="rounded-circle" style="background-color: rgba(0, 121, 107, 0.7);" th:src="@{/images/detailsIcon.png}" alt="dettagli"></a>
                    </div>
                </div>
                <div class="card card-obj" style="width: 17rem;height: 18rem;">
                    <img th:src="@{/images/orologi2.jpg}" alt="Orologio" class="card-img">
                    <div class="card-img-overlay d-flex justify-content-end align align-items-end">
                        <a class="text-white" th:href="@{https://www.fossil.com/it-it/?utm_source=google&utm_medium=cpc&utm_campaign=conv_brand&gclid=CjwKCAjwzeqVBhAoEiwAOrEmzQyFFhWCjSrOvfFstx9CQr8vYMXxpTNT8Oi7VCAC_RffDqVKU1O4kxoCbD8QAvD_BwE&gclsrc=aw.ds}"><img class="rounded-circle" style="background-color: rgba(0, 121, 107, 0.7);" th:src="@{/images/detailsIcon.png}" alt="dettagli"></a>
                    </div>
                </div>
                <div class="card card-obj" style="width: 17rem;height: 18rem;">
                    <img th:src="@{/images/orologi3.jpg}" alt="Orologio" class="card-img">
                    <div class="card-img-overlay d-flex justify-content-end align align-items-end">
                        <a class="text-white" th:href="@{https://www.rolex.com/it?ef_id=CjwKCAjwzeqVBhAoEiwAOrEmzTk7gayGaAbEsJcqngZ5C0flsVOx09mBiOgozcNwqUzlCuBIcggLVBoCRhkQAvD_BwE:G:s&s_kwcid=AL!141!3!533452350626!e!!g!!rolex}"><img class="rounded-circle" style="background-color: rgba(0, 121, 107, 0.7);" th:src="@{/images/detailsIcon.png}" alt="dettagli"></a>
                    </div>
                </div>
                <div>
                    <a th:href="@{/elencoOrologi}" class="btn rounded-pill textFont text-white py-2 px-3" style="background-color: #26A69A;"><- Vedi tutti gli orologi</a>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center rounded p-5 my-5" style="border: 2px solid #26A69A;">
                <div>
                    <a th:href="@{/elencoAccessori}" class="btn rounded-pill textFont text-white py-2 px-3" style="background-color: #26A69A;">Vedi tutti gli accessori -></a>
                </div>
                <div class="card card-obj" style="width: 17rem;height: 18rem;">
                    <img th:src="@{/images/accessori1.jpg}" alt="Orologio" class="card-img">
                </div>
                <div class="card card-obj" style="width: 17rem;height: 18rem;">
                    <img th:src="@{/images/accessori2.jpg}" alt="Orologio" class="card-img">
                </div>
                <div class="card card-obj" style="width: 17rem;height: 18rem;">
                    <img th:src="@{/images/accessori4.jpg}" alt="Orologio" class="card-img">
                </div>
            </div>
        </div>

        <!-- DESIGN SECTION -->
        <div th:style="'background: url(/images/designSection3.jpg) no-repeat center center fixed;background-size: 100%;height: 600px;'">
            <div class="p-5 m-5">
                <div class="my-5">
                    <span class="textFont section-title text-white text-center bgColor rounded-pill shadow py-2 px-3">- Design -</span>
                </div>
                <h3 class="p-4 mb-5 rounded textFont text-white" style="width: 40%;background-color: rgba(38, 166, 154, 0.8);">
                    Creating watches with priceless and timeless designs,
                    instruments that are built by professionals for talented people.
                    The style is designed with time and perfection.
                </h3>
            </div>
        </div>

        <!-- FOOTER SECTION -->
        <footer th:replace="fragments/base.html :: footer"></footer>

    </body>
</html>